<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>bluetooth-peripheral</string>
	</array>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>This app uses Bluetooth to provide proxy services to nearby devices, allowing web browsing through this device's internet connection.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>This app acts as a Bluetooth peripheral to provide HTTP proxy services to Windows clients.</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>bluetooth-le</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleDisplayName</key>
	<string>BLE Proxy</string>
	<key>CFBundleName</key>
	<string>BLEProxy</string>
	<key>CFBundleExecutable</key>
	<string>BLEProxy</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleIdentifier</key>
	<string>bleproxy.innerscene.com</string>
	<key>CFBundleVersion</key>
	<string>6</string>
	<key>CFBundleShortVersionString</key>
	<string>1.5</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>systemBackground</string>
		<key>UILaunchScreen</key>
		<dict>
			<key>UITabBar</key>
			<dict>
				<key>UITabBarAppearance</key>
				<dict/>
			</dict>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
	</dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist> 